/* Sidebar navigation */
.b-sidebar-outer {
  width: 8vw;
}

/* Scrollbar */
::-webkit-scrollbar {
  width: 8px;
}

.list-container td {
  vertical-align: middle;
}
body { font-family: 'Open Sans';}
/* Text Styles */
h1,
h2,
h3 {
  font-family: Gilroy;
}

.subtitle-text {
  color: var(--text-subtitle-color);
  font-size: 0.9em;
}

.bottom-margin {
  height: 92px;
}

input {
  font-family: "Open Sans";
}
/* Divisions */
#navbar {
  width: 10%;
  position: fixed;
  height: 92vh;
  top: 0;
  left: 0;
  overflow: auto;
}

.route-container {
  top: 0;
  left: 10%;

  width: 86%;
  padding-right: 2%;
  height: 92vh;
  position: relative;
  overflow-y: auto;
  overflow-x: hidden;
  padding-left: 2%;
}

.primary-btn {
 
  width: 100%;
  border: 0;
  padding: 10px 5px;
  font-weight: bold;
}


.block {
  display: block;
}

.inline-block {
  display: inline-block;
}

/* Miscellaneous */
.hover-lighten:hover {
  color: var(--text-color);
  cursor: pointer;
}

.item-hoverable .current,
.item-hoverable .item:hover {
  background: var(--primary-hover-color-fallback);
  background: var(--primary-hover-color);
}

.secondary-hoverable:hover {
  background: var(--secondary-hover-color);
}

.seperated {
  border-bottom: 0.2px solid var(--seperator-color);
}

.sticky-top {
  top: 0;
  width: 100%;
  position: sticky;
  background: var(--primary-background-color);
  z-index: 5;
}

.entity-info {
  position: fixed;
}

.entity-songs-list {
  left: 400px;
  position: relative;
  width: 75%;
}

.nav-pills .nav-link {
  border-radius: 0;
}
